<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <title>lovephoto</title>
    <meta name="viewport" content="width=1200, user-scalable=no" />
    <link rel="stylesheet" media="screen" type="text/css" href="static/css/layout.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="static/css/spacegallery.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="static/css/custom.css" />
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/eye.js"></script>
    <script type="text/javascript" src="static/js/utils.js"></script>
    <script type="text/javascript" src="static/js/spacegallery.js"></script>
    <script type="text/javascript" src="static/js/layout.js"></script>
</head>
<body>
    <div class="wrapper">
        <ul class="navigationTabs">
            <li><a href="#about" rel="about">LoveBook</a></li>
        </ul>
        <div class="tabsContent">
            <div class="tab">
				<div id="myGallery" class="spacegallery">
					<img src="static/img/book5.jpg" alt="" />
                    <img src="static/img/book4.jpg" alt="" />
                    <img src="static/img/book3.jpg" alt="" />
                    <img src="static/img/book2.jpg" alt="" />
                    <img src="static/img/book1.jpg" alt="" />
				</div>
            </div>
        </div>
    </div>

</body>
</html>