<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <title>lovephoto</title>
    <meta name="viewport" content="width=1200, user-scalable=no" />
    <link rel="stylesheet" media="screen" type="text/css" href="static/css/custom.css" />
    <link href="static/css/magazine.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/modernizr.2.5.3.min.js"></script>
    <script type="text/javascript" src="static/js/hash.js"></script>
    <script type="text/javascript" src="static/js/turn.js"></script>
    <script type="text/javascript" src="static/js/turn.html4.min.js"></script>
    <script type="text/javascript" src="static/js/zoom.min.js"></script>
    <script type="text/javascript" src="static/js/magazine.js"></script>
    <style type="text/css">
        body {
            background-image: url(static/img/xingkong.jpg);
            text-align: center;
            font-family: "simhei"
        }
        canvas {
            margin: auto;
            position: absolute;
            left: 0;
            right:0;
            top: 0;
            bottom: 0;
            width: 110%;
        }
    </style>
    <script>

    $(function(){

    var next_button = $(".next-button");              //初始化左右箭头

    var previous_button = $(".previous-button");

    setArrows();

    });
    </script>
</head>
<body>
    <canvas id="canvas_work" width="1100" height="800" style="z-index:99999;"></canvas>

    <div id="canvas_book">

    <div class="magazine-viewport">

        <div class="container">

            <div class="magazine">

                <!-- Next button --></div>

        </div>



        <!-- Previous button -->



    </div>

<script type="text/javascript">
function loadApp() {

    var flipbook = $('.magazine');

    // Check if the CSS was already loaded

    if (flipbook.width()==0 || flipbook.height()==0) {

        setTimeout(loadApp, 10);

        return;

    }

    // 创建flipbook

    flipbook.turn({

            width: 1100,

            height: 550,

            duration: 1000,   //翻页速度，值越小越快

            // Hardware acceleration

            acceleration: !isChrome(),

            // Enables gradients

            gradients: true,

            // Auto center this flipbook

            autoCenter: true,

            // Elevation from the edge of the flipbook when turning a page

            elevation: 50,

            // The number of pages

            pages: 22,

            // Events

            when: {

                turning: function(event, page, view) {

                    var book = $(this),

                    currentPage = book.turn('page'),

                    pages = book.turn('pages');

                    // Update the current URI

                    Hash.go('page/' + page).update();

                    // Show and hide navigation buttons

                    disableControls(page);

                },

                turned: function(event, page, view) {

                    disableControls(page);

                    $(this).turn('center');

                    if (page==1) {

                        $(this).turn('peel', 'br');

                    }

                },

                missing: function (event, pages) {

                    // Add pages that aren't in the magazine

                    for (var i = 0; i < pages.length; i++)

                        addPage(pages[i], $(this));

                }

            }

    });



    // Zoom.js

    $('.magazine-viewport').zoom({

        flipbook: $('.magazine'),

        max: function() {

            return largeMagazineWidth()/$('.magazine').width();

        },

        when: {

            swipeLeft: function() {

                $(this).zoom('flipbook').turn('next');

            },

            swipeRight: function() {

                $(this).zoom('flipbook').turn('previous');

            },



            resize: function(event, scale, page, pageElement) {

                if (scale==1)

                    loadSmallPage(page, pageElement);

                else

                    loadLargePage(page, pageElement);

            },

            zoomIn: function () {

                $('.made').hide();

                $('.magazine').removeClass('animated').addClass('zoom-in');

                $('.zoom-icon').removeClass('zoom-icon-in').addClass('zoom-icon-out');

                if (!window.escTip && !$.isTouch) {

                    escTip = true;

                    $('<div />', {'class': 'exit-message'}).

                        html('<div>Press ESC to exit</div>').

                            appendTo($('body')).

                            delay(2000).

                            animate({opacity:0}, 500, function() {

                                $(this).remove();

                            });

                }

            },

            zoomOut: function () {

                $('.exit-message').hide();

                $('.thumbnails').fadeIn();

                $('.made').fadeIn();

                $('.zoom-icon').removeClass('zoom-icon-out').addClass('zoom-icon-in');

                setTimeout(function(){

                    $('.magazine').addClass('animated').removeClass('zoom-in');

                    resizeViewport();

                }, 0);

            }

        }

    });



    // Zoom event

    if ($.isTouch)

        $('.magazine-viewport').bind('zoom.doubleTap', zoomTo);

    else

        $('.magazine-viewport').bind('zoom.tap', zoomTo);

    // Using arrow keys to turn the page

    $(document).keydown(function(e){

        var previous = 37, next = 39, esc = 27;

        switch (e.keyCode) {

            case previous:

                // left arrow

                $('.magazine').turn('previous');

                e.preventDefault();

            break;

            case next:

                //right arrow

                $('.magazine').turn('next');

                e.preventDefault();

            break;

            case esc:

                $('.magazine-viewport').zoom('zoomOut');

                e.preventDefault();

            break;

        }

    });



    // URIs - Format #/page/1

    Hash.on('^page\/([0-9]*)$', {

        yep: function(path, parts) {

            var page = parts[1];

            if (page!==undefined) {

                if ($('.magazine').turn('is'))

                    $('.magazine').turn('page', page);

            }

        },

        nop: function(path) {

            if ($('.magazine').turn('is'))

                $('.magazine').turn('page', 1);

        }

    });

    $(window).resize(function() {

        resizeViewport();

    }).bind('orientationchange', function() {

        resizeViewport();

    });



    // Events for thumbnails

    $('.thumbnails').click(function(event) {

        var page;

        if (event.target && (page=/page-([0-9]+)/.exec($(event.target).attr('class'))) ) {

            $('.magazine').turn('page', page[1]);

        }

    });

    $('.thumbnails li').

        bind($.mouseEvents.over, function() {

            $(this).addClass('thumb-hover');



        }).bind($.mouseEvents.out, function() {



            $(this).removeClass('thumb-hover');



        });



    if ($.isTouch) {

        $('.thumbnails').

            addClass('thumbanils-touch').

            bind($.mouseEvents.move, function(event) {

                event.preventDefault();

            });

    } else {

        $('.thumbnails ul').mouseover(function() {

            $('.thumbnails').addClass('thumbnails-hover');

        }).mousedown(function() {

            return false;

        }).mouseout(function() {

            $('.thumbnails').removeClass('thumbnails-hover');

        });

    }



    // Regions

    if ($.isTouch) {

        $('.magazine').bind('touchstart', regionClick);

    } else {

        $('.magazine').click(regionClick);

    }



    // Events for the next button

    $('.next-button').bind($.mouseEvents.over, function() {

        $(this).addClass('next-button-hover');

    }).bind($.mouseEvents.out, function() {

        $(this).removeClass('next-button-hover');

    }).bind($.mouseEvents.down, function() {

        $(this).addClass('next-button-down');

    }).bind($.mouseEvents.up, function() {

        $(this).removeClass('next-button-down');

    }).click(function() {

        $('.magazine').turn('next');

        setTimeout(function(){

        setArrows() ;

        },300);

    });



    // Events for the next button

    $('.previous-button').bind($.mouseEvents.over, function() {

        $(this).addClass('previous-button-hover');

    }).bind($.mouseEvents.out, function() {

        $(this).removeClass('previous-button-hover');

    }).bind($.mouseEvents.down, function() {

        $(this).addClass('previous-button-down');

    }).bind($.mouseEvents.up, function() {

        $(this).removeClass('previous-button-down');

    }).click(function() {

        $('.magazine').turn('previous');

        setTimeout(function(){

        setArrows() ;

        },300);



    });

    resizeViewport();

    $('.magazine').addClass('animated');

}



// Zoom icon

 $('.zoom-icon').bind('mouseover', function() {

    if ($(this).hasClass('zoom-icon-in'))

        $(this).addClass('zoom-icon-in-hover');

    if ($(this).hasClass('zoom-icon-out'))

        $(this).addClass('zoom-icon-out-hover');

 }).bind('mouseout', function() {

     if ($(this).hasClass('zoom-icon-in'))

        $(this).removeClass('zoom-icon-in-hover');

    if ($(this).hasClass('zoom-icon-out'))

        $(this).removeClass('zoom-icon-out-hover');

 }).bind('click', function() {

    if ($(this).hasClass('zoom-icon-in'))

        $('.magazine-viewport').zoom('zoomIn');

    else if ($(this).hasClass('zoom-icon-out'))

        $('.magazine-viewport').zoom('zoomOut');

 });



// Load the HTML4 version if there's not CSS transform

yepnope({

    test : Modernizr.csstransforms,

    yep: ['static/js/turn.js'],

    nope: ['static/js/turn.html4.min.js'],

    both: ['static/js/zoom.min.js', 'static/js/magazine.js', 'static/css/magazine.css'],

    complete: loadApp

});



</script>


<script type="text/javascript">
BLUR = false;

PULSATION = true;
PULSATION_PERIOD = 600;
PARTICLE_RADIUS = 4;

/* disable blur before using blink */

BLINK = false;

GLOBAL_PULSATION = false;

QUALITY = 2; /* 0 - 5 */

/* set false if you prefer rectangles */
ARC = false;

/* trembling + blur = fun */
TREMBLING = 0; /* 0 - infinity */

FANCY_FONT = "Arial";

BACKGROUND = "#000";

BLENDING = true;

/* if empty the text will be a random number */
var TEXT;
num = 0;
TEXTArray = ["兜兜", "深爱", "领导", "直到", "永远"];

QUALITY_TO_FONT_SIZE = [10, 12, 40, 50, 100, 350];
QUALITY_TO_SCALE = [20, 6, 4, 2, 0.9, 0.5];
QUALITY_TO_TEXT_POS = [10, 20, 60, 100, 370, 280];


window.onload = function () {
    document.body.style.backgroundColor = BACKGROUND;

    var canvas = document.getElementById("canvas_work");
    var ctx = canvas.getContext("2d");

    var W = canvas.width;
    var H = canvas.height;

    var tcanvas = document.createElement("canvas");
    var tctx = tcanvas.getContext("2d");
    tcanvas.width = W;
    tcanvas.height = H;

    total_area = W * H;
    total_particles = 1000;
    single_particle_area = total_area / total_particles;
    area_length = Math.sqrt(single_particle_area);

    var particles = [];
    for (var i = 1; i <= total_particles; i++) {
        particles.push(new particle(i));
    }

    function particle(i) {
        this.r = Math.round(Math.random() * 255 | 0);
        this.g = Math.round(Math.random() * 255 | 0);
        this.b = Math.round(Math.random() * 255 | 0);
        this.alpha = 1;

        this.x = (i * area_length) % W;
        this.y = (i * area_length) / W * area_length;

        /* randomize delta to make particles sparkling */
        this.deltaOffset = Math.random() * PULSATION_PERIOD | 0;

        this.radius = 0.1 + Math.random() * 2;
    }

    var positions = [];

    function new_positions() {

        TEXT = TEXTArray[num];

        if (num < TEXTArray.length - 1) {
            num++;
        } else {
            num = 0;
        }
        //alert(TEXT);

        tctx.fillStyle = "white";
        tctx.fillRect(0, 0, W, H)
        //tctx.fill();

        tctx.font = "bold " + QUALITY_TO_FONT_SIZE[QUALITY] + "px " + FANCY_FONT;

        //tctx.textAlign='center';//文本水平对齐方式
        //tctx.textBaseline='middle';

        //tctx.strokeStyle = "black";
        tctx.fillStyle = "#f00";
        //tctx.strokeText(TEXT,30, 50);
        tctx.fillText(TEXT, 20, 60);

        image_data = tctx.getImageData(0, 0, W, H);
        pixels = image_data.data;
        positions = [];
        for (var i = 0; i < pixels.length; i = i + 2) {
            if (pixels[i] != 255) {
                position = {
                    x: (i / 2 % W | 0) * QUALITY_TO_SCALE[QUALITY] | 0,
                    y: (i / 2 / W | 0) * QUALITY_TO_SCALE[QUALITY] | 0
                }
                positions.push(position);
            }
        }

        get_destinations();
    }

    function draw() {

        var now = Date.now();

        ctx.globalCompositeOperation = "source-over";

        if (BLUR) ctx.globalAlpha = 0.1;
        else if (!BLUR && !BLINK) ctx.globalAlpha = 1.0;

        ctx.fillStyle = BACKGROUND;
        ctx.fillRect(0, 0, W, H)

        if (BLENDING) ctx.globalCompositeOperation = "lighter";

        for (var i = 0; i < particles.length; i++) {

            p = particles[i];

            /* in lower qualities there is not enough full pixels for all of  them - dirty hack*/

            if (isNaN(p.x)) continue

            ctx.beginPath();
            ctx.fillStyle = "rgb(" + p.r + ", " + p.g + ", " + p.b + ")";
            ctx.fillStyle = "rgba(" + p.r + ", " + p.g + ", " + p.b + ", " + p.alpha + ")";

            if (BLINK) ctx.globalAlpha = Math.sin(Math.PI * mod * 1.0);

            if (PULSATION) { /* this would be 0 -> 1 */
                var mod = ((GLOBAL_PULSATION ? 0 : p.deltaOffset) + now) % PULSATION_PERIOD / PULSATION_PERIOD;

                /* lets make the value bouncing with sinus */
                mod = Math.sin(mod * Math.PI);
            } else var mod = 1;

            var offset = TREMBLING ? TREMBLING * (-1 + Math.random() * 2) : 0;

            var radius = PARTICLE_RADIUS * p.radius;

            if (!ARC) {
                ctx.fillRect(offset + p.x - mod * radius / 2 | 0, offset + p.y - mod * radius / 2 | 0, radius * mod,
                    radius * mod);
            } else {
                ctx.arc(offset + p.x | 0, offset + p.y | 0, radius * mod, Math.PI * 2, false);
                ctx.fill();
            }

            p.x += (p.dx - p.x) / 10;
            p.y += (p.dy - p.y) / 10;
        }
    }

    function get_destinations() {
        for (var i = 0; i < particles.length; i++) {
            pa = particles[i];
            particles[i].alpha = 1;
            var distance = [];
            nearest_position = 0;
            if (positions.length) {
                for (var n = 0; n < positions.length; n++) {
                    po = positions[n];
                    distance[n] = Math.sqrt((pa.x - po.x) * (pa.x - po.x) + (pa.y - po.y) * (pa.y - po.y));
                    if (n > 0) {
                        if (distance[n] <= distance[nearest_position]) {
                            nearest_position = n;
                        }
                    }
                }
                particles[i].dx = positions[nearest_position].x;
                particles[i].dy = positions[nearest_position].y;
                particles[i].distance = distance[nearest_position];

                var po1 = positions[nearest_position];
                for (var n = 0; n < positions.length; n++) {
                    var po2 = positions[n];
                    distance = Math.sqrt((po1.x - po2.x) * (po1.x - po2.x) + (po1.y - po2.y) * (po1.y - po2.y));
                    if (distance <= 5) {
                        positions.splice(n, 1);
                    }
                }
            } else {
                //particles[i].alpha = 0;
            }
        }
    }
    var timesRun = 0;
    function init() {
        new_positions();
        setInterval(draw, 30);
        var interval = setInterval(function(){
            new_positions();
            timesRun += 1;
            if(timesRun === 5){
                clearInterval(interval);
                $("canvas").fadeOut(1000);
                $('#canvas_book').fadeIn(2000);
            }
        }, 2000);
    }

    init();

};
</script>
</body>
</html>