<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>微信测试页</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
</head>

<body>

<h1 id="aaa"></h1>

<h1 id="bbb"></h1>

<script>

function getUrlParam(name){
	var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)');
	var r = window.location.search.substr(1).match(reg);
	if (r !=null){
		return unescape(r[2]);
	}
	return null
}


window.appid = 'wxfb418f3903c83820';
window.code = getUrlParam('code');
window.local = window.location.href;

if(code == null || coude ===''){
	window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + appid + '&redirect_uri=' + encodeURIComponent(local) + '&response_type=code&scope=snsapi_base&state=1#wechat_redirect';
}else{
	$("#aaa").html(local);
}

</script>

</body>
</html>
